torch==1.13.0
torchvision==0.14.0

pybullet
pyyaml
scipy
opencv-python-headless
pin
matplotlib
gin-config
gym==0.21.0

scikit-learn
addict
pandas
plyfile
tqdm
open3d

einops
hydra-core==1.1.1
wandb
termcolor
ipython
torchsde
torchdiffeq
imageio
mujoco==2.3.2

-e ./environments/d3il